<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Strona główna{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
        <div class="text-bg-primary p-3">
            <h2 class="text-white text-center"><strong>Date Chooser</strong></h2>
        </div>
        <h1 class="text-center m-5"><strong>{% block header %}Date Chooser - prosta aplikacja do głosowania na termin wydarzenia{% endblock %}</strong></h1>
        <br>
        {% block main %}
        <div class="d-flex justify-content-center m-5">
            <a href="{% url 'create_event' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Utwórz wydarzenie</a>
        </div>
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    {% block js %}
    {% endblock %}
</body>
</html>